<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Topjava</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/application-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>


    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>ru.javawebinar.topjava.filters.PerformanceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>MyFirstFilter</filter-name>
        <filter-class>ru.javawebinar.topjava.filters.PrintParametersFilter</filter-class>
        <init-param>
            <param-name>SomeParam</param-name>
            <param-value>SomeValue</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MyFirstFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>ru.javawebinar.topjava.filters.BeerRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BeerRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mealServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealServlet</servlet-name>
        <url-pattern>/meals/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>ru.javawebinar.topjava.listeners.MyHttpSessionActivationListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
